<%= javascript_include_tag 'admin.js'%>
<%= stylesheet_link_tag "manage" %>
<div class="w960">
	<h2 class="maintitle">MANAGE YOUR SITES</h2>

	<br class="clear">
	<div id="leftboxes_container">
	
		<div class="col_left">
			<!-- <div class="headerbar">Domains</div> -->
			<ul>
				<% @subdomains.each do |s|%>
					<%= link_to raw("<li>/#{s.name}</li>") , "/admin/#{s.name}"%>
				<% end %>
				<li class="last">
					<%= form_for @new_subdomain do |s|%>
						/<%= s.text_field :name, :placeholder => "Add New Site" %>
						<%= hidden_field_tag :no_zip, "true" %>
					<% end %>
				</li>
			</ul>
		</div>
	
		<div class="col_right">
			<!-- <div class="headerbar headerbar2">Files</div>	 -->
			<ul id="file_list">
				<%= render :partial => 'admin/files/file_list', :locals => {:files => @files}%>
			</ul>
		</div>
		<div class="clear"></div>
	</div>

	<div id="rightbox">	
		<img src="/images/preview1.jpg">
		<a href="" class="right" style="margin-top:20px";>Preview</a>
	</div>
</div>


