<%= javascript_include_tag 'admin.js'%>
<%= stylesheet_link_tag "manage" %>

<%= render 'layouts/inline_message' if @is_shitty_browser%>
<%= render :partial => 'layouts/inline_message', :locals => {:message => 'Make sure your home page is called index.html'} unless @has_index %>
<%= render :partial => 'layouts/inline_message', :locals => {:message => 'If a subdomain you previously claimed does not appear below, please type it again into the box below to re-claim it. '} if @subdomain.nil?  %>

<div class="w960">
	<h2 class="maintitle">MANAGE YOUR SITES</h2>

	<br class="clear">
	<div id="leftboxes_container">
	
		<div class="col_left">
			<div class="headerbar">Subdomains</div>
			<ul>
				<% @subdomains.each do |s|%>
					<li>			
						<div class="subdomain_link">
							<a href="/admin/<%=s.name%>">
								<%= raw("<strong>") if s == @subdomain%>
								<%=s.name%>
								<%= raw("</strong>") if s == @subdomain%>
							</a>
						</div>
						<%= link_to "remove", "/admin/delete_subdomain?subdomain=#{@subdomain.name}", :class => 'remove', 
						:confirm => "Are you sure you want to give up this subdomain? All files under this subdomain will be deleted"%>
					</li>
				<% end %>
				<li class="last">
					<%= form_for @new_subdomain do |s|%>
						<%= s.text_field :name, :placeholder => "Add New Site" %>
						<%= hidden_field_tag :no_zip, "true" %>
					<% end %>
				</li>
			</ul>
		</div>
	
		<div class="col_right">
			<div class="headerbar headerbar2">Files</div>
			<% unless @subdomain.nil? %>
				<%= render :partial => 'admin/files/file_list', :locals => {:files => @files}%>
			<% else %>
				<script>
					function initUpload(){
						//do nothing
					}
				</script>
			<% end %>
		</div>
		<!-- <div class="clear"></div> -->
	</div>

	<div id="rightbox">	
		<div id="thumbnail">
		</div>
	</div>
	
	<% unless @subdomain.nil? %>
		<a href="http://<%="#{@subdomain.name}.coralrift.com"%>" class="boxed right clear" style="margin-top:30px;">
		<%="http://#{@subdomain.name}.coralrift.com"%></a>
	<% end %>

</div>

<% image_link = link_to image_tag(ApplicationHelper::fetch_thumbnail(@subdomain.name + '.coralrift.com')), "http://#{@subdomain.name}.coralrift.com" if @show_preview%>

<script>
	$(document).ready(function(){
		var hasContent = <%=@show_preview%>;
		setTimeout(function(){
			if(hasContent == true){
				$("#thumbnail").html($("#thumbnail").html() + "<%=escape_javascript(image_link)%>");
			} else {
				$("#thumbnail").html("<div class='center'>Nothing to preview yet </div>");
				$("#thumbnail").css('background', '#fff');
			}
		}, 300);
	});
</script>

