<%= javascript_include_tag 'admin.js'%>
<%= stylesheet_link_tag "manage" %>

<%= render 'layouts/inline_message' if @is_shitty_browser%>
<%= render :partial => 'layouts/inline_message', :locals => {:message => 'Make sure your home page is called index.html'} unless @has_index %>

<div class="w960">
	<h2 class="maintitle">MANAGE YOUR SITES</h2>

	<br class="clear">
	<div id="leftboxes_container">
	
		<div class="col_left">
			<div class="headerbar">Domains</div>
			<ul>
				<% @subdomains.each do |s|%>
					<%= raw("<strong>") if s == @subdomain%>
					<%= link_to raw("<li>/#{s.name}</li>") , "/admin/#{s.name}"%>
					<%= raw("</strong>") if s == @subdomain%>
				<% end %>
				<li class="last">
					<%= form_for @new_subdomain do |s|%>
						/<%= s.text_field :name, :placeholder => "Add New Site" %>
						<%= hidden_field_tag :no_zip, "true" %>
					<% end %>
				</li>
			</ul>
		</div>
	
		<div class="col_right">
			<div class="headerbar headerbar2">Files</div>
			<% unless @subdomain.nil? %>
				<%= render :partial => 'admin/files/file_list', :locals => {:files => @files}%>
			<% else %>
				<script>
					function initUpload(){
						//do nothing
					}
				</script>
			<% end %>
		</div>
		<div class="clear"></div>
	</div>

	<div id="rightbox">	
		<% unless @subdomain.nil?%>
			<div id="thumbnail">
				<img src="/images/thumb_loading.gif" style="margin: 100px auto 0 auto; display: block">
			</div>
		<% else %>
			<div id="thumbnail">
				<img src="/images/thumb_loading.gif" style="margin: 100px auto 0 auto; display: block">
			</div>
		<% end %>
		<!-- <a href="" class="right" style="margin-top:20px";>Preview</a> -->
	</div>
</div>

<% image_link = link_to image_tag(ApplicationHelper::fetch_thumbnail(@subdomain.name + '.coralrift.com')), "http://#{@subdomain.name}.coralrift.com" if @show_preview%>

<script>
	$(document).ready(function(){
		var hasContent = <%=@show_preview%>;
		setTimeout(function(){
			if(hasContent == true){
				$("#thumbnail").html("<%=escape_javascript(image_link)%>");
			} else {
				$("#thumbnail").html("<div class='center'>Nothing to preview yet </div>");
			}
		}, 500);
	});
</script>

