<h2 class="maintitle">PREVIEW</h2>
<h2 style="margin-left:360px;" class="maintitle">SIGN UP</h2>
<div class="clear">
<div id="leftarea">
<div id="leftbox">
	<img src="images/preview1.jpg">
</div>
<div id="lefttext">
	<a class="boxed" href="">http://www.coralrift.com/<%= @subdomain.name %></a>
	<br><br>
	Your site is done! The preview will expire at midnight tomorrow. Sign up
on your right or <a href="">Login</a> to claim it permanently!
</div>
</div>

<div id="rightbox">
	Register an account to keep this subdomain and manage your websites. Already a member? <a href="">Login</a><br><br>
	<%= form_for(@user, :as => @user_resource_name, :url => registration_path(@user_resource_name)) do |f| %>
	  <%= f.label :email, 'Email address'%>
	  <%= f.email_field :email %><br><br>

	  <%= f.label :password %>
	  <%= f.password_field :password %><br><br>

	  <%= f.label 'Confirm password' %>
	  <%= f.password_field :password_confirmation %><br><br>
	
	  <label>&nbsp;</label>
	  <%= f.submit "Sign up" %>
	<% end %>
</div>

