
	<li>
		<img src="/images/smalldrop.jpg">
		<p>Drop a new zipped file here to replace all files, or drop individual file at corresponding space to replace a specific file.</p>
	</li>

<% if @this_dir && @this_dir != @parent_path%>
	<li id="head"><strong><%= @this_dir %></strong><%= link_to "back", "#", :class=>"folder right", :subdomain => @subdomain.name, :path => @parent_path %></li>
<% end %>
<% files.each do |f|%>
	<% if f[0] %> <!-- It's a directory -->
		<li><%= link_to f[1], "#", :class=>"folder", :path=> f[2], :subdomain => @subdomain.name %> </li>
	<% else %>
		<li>
			<%= truncate(f[1])%>
			<%= link_to "remove", "/admin/delete_file?subdomain=#{@subdomain.name}&path=#{f[2]}", :class => 'remove', :remote => true%>
		</li>
	<% end %>
<% end %>